---
http_interactions:
- request:
    method: put
    uri: https://api-sandbox.kobana.com.br/v1/bank_billets/632282.json
    body:
      encoding: UTF-8
      string: '{"customer_address":"Rua da Casa","customer_neighborhood":"Bairro","customer_zipcode":"01310100","customer_city_name":"São
        Paulo","customer_state":"SP","customer_cnpj_cpf":"16.974.923/0001-84","customer_person_name":"Fulano
        da Silva","expire_at":"2025-12-31","amount":100.0,"id":632282,"paid_at":null,"description":null,"status":"generating","registration_status":"pending","customer_address_number":null,"customer_address_complement":null,"customer_phone_number":null,"customer_email":null,"customer_email_cc":null,"customer_ignore_email":null,"customer_ignore_sms":null,"customer_mobile_local_code":null,"customer_mobile_number":null,"customer_nickname":null,"customer_notes":null,"created_via_api":true,"paid_amount":null,"url":"https://sandbox.bole.to/3/gbwvrm","formats":{"default":"https://sandbox.bole.to/3/gbwvrm","png":"https://sandbox.bole.to/3/gbwvrm.png","pdf":"https://sandbox.bole.to/3/gbwvrm.pdf","boleto_hibrido":"https://sandbox.bole.to/3/gbwvrm/boleto_hibrido","boleto_pix":"https://sandbox.bole.to/3/gbwvrm/boleto_pix","barcode":"https://sandbox.bole.to/3/gbwvrm/barcode","envelope":"https://sandbox.bole.to/3/gbwvrm/envelope","letter":"https://sandbox.bole.to/3/gbwvrm/letter","line":"https://sandbox.bole.to/3/gbwvrm/line","recibo":"https://sandbox.bole.to/3/gbwvrm/recibo"},"meta":null,"fine_for_delay":null,"fine_type":0,"fine_percentage":null,"fine_value":null,"days_for_fine":null,"late_payment_interest":null,"interest_type":0,"interest_daily_value":null,"interest_daily_percentage":null,"interest_monthly_percentage":null,"days_for_interest":null,"discount_type":0,"discount_limit_date":null,"discount_value":null,"discount_percentage":null,"days_for_revoke":null,"notes":null,"payment_count":1,"bank_billet_account_id":5599,"beneficiary_name":"João
        Silva","beneficiary_cnpj_cpf":"16.974.923/0001-84","beneficiary_address":"Avenida
        Paulista, 1000, Bela Vista, São Paulo, SP, 01310100","beneficiary_assignor_code":"00015/0000024","guarantor_name":null,"guarantor_cnpj_cpf":null,"payment_place":"Pagável
        em qualquer banco até a data de vencimento.","instructions":null,"document_date":null,"document_type":"02","document_number":null,"acceptance":"N","processed_our_number":"00015/001/0000000138-5","processed_our_number_raw":"0001500100000001385","bank_contract_slug":"example-bank-bs-1","agency_number":"1234","agency_digit":"5","account_number":"123123","account_digit":"4","extra1":null,"extra1_digit":null,"extra2":null,"extra2_digit":null,"line":"00090.00100
        01000.000008 00000.013854 3 13120000010000","our_number":"138","customer_subscription_id":null,"installment_total":null,"installment_number":null,"installment_id":null,"carne_url":null,"bank_billet_layout_id":null,"created_at":"2024-02-26T14:25:00-03:00","updated_at":"2024-02-26T14:25:00-03:00","tags":[],"tag_list":null,"document_type_label":"DM","addons":null,"ignore_email":false,"ignore_sms":false,"ignore_whatsapp":false,"sue_code":null,"revoke_code":null,"first_instruction":null,"second_instruction":null,"guarantor_address_number":null,"guarantor_neighborhood":null,"guarantor_phone_number":null,"guarantor_city_name":null,"guarantor_state":null,"guarantor_zipcode":null,"guarantor_address":null,"guarantor_address_complement":null,"barcode":"00093131200000100000001001000000000000001385","registered_at":null,"prevent_registration":false,"customer_id":749970,"control_number":null,"divergent_payment_type":null,"divergent_payment_value_type":null,"divergent_payment_maximum_value":null,"divergent_payment_minimum_value":null,"divergent_payment_maximum_percentage":null,"divergent_payment_minimum_percentage":null,"divergent_payment_limit":null,"days_for_discount":null,"days_for_second_discount":null,"second_discount_percentage":null,"second_discount_value":null,"days_for_third_discount":null,"third_discount_percentage":null,"third_discount_value":null,"days_for_sue":null,"days_for_negativation":null,"interest_percentage":null,"interest_value":null,"interest_days_type":0,"customer_contact_person":null,"custom_attachment_name":null,"split_payment":false,"dispatch_type":1,"charge_type":1,"custom_data":null,"issued_at":"2024-02-26T14:25:00-03:00","shorten_url":"https://sandbox.bole.to/3/gbwvrm","pix_enabled":false,"pix_qrcode":null,"password_protected_mode":null,"revoked_at":null,"recipient_account":null,"pix_txid":null,"cancel_type":null,"cancellation_reason":null,"prevent_pix":false,"reduction_amount":null,"instructions_mode":1,"import_id":null,"reduction_type":null,"reduction_percentage":null,"url_hash":"gbwvrm","bank_billet_discharges":[],"bank_billet_remittances":[],"bank_billet_payments":[],"bank_billet_registrations":[],"pix":[],"bank_billet_split_accounts":[]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4987'
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 26 Feb 2024 17:25:01 GMT
recorded_with: VCR 6.2.0
