<nav class="navbar" style="background-color: #36404A;">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <a class="navbar-brand" style="color: #D3FD53;" href="/bank_billets">Kobana - Gestão de boletos</a>
    <div class="d-flex justify-content-end">
      <%= button_to 'Criar Novo Boleto', new_bank_billet_path, method: :get, class: 'btn btn-outline-success me-2' %>
    </div>
  </div>
</nav>
